*{
    margin:0;
    padding:0;
}

.submitDashboardHeader{
    margin:10px 40px;
    background-color:rgb(3, 252, 236);
    height: 80px;
    border:0.5px solid rgb(8, 226, 212);
    border-radius: 3px;
    display:grid;
    grid-template-rows: 150x;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:30px;
}

.submitDashboardHeader .submitName{
    padding: 20px;
    color:black;
    width:100%;
    text-align: left;
    font-size: 20px;
}

.submitDashboardHeader .submitLogout{
    padding: 18px 0px;
    width:100%;
    text-align: right;
    font-size: 20px;
}


.submitFeedbackGrid{
    background-color:white;
    padding: 20px 10px 10px 10px;
    width:95%;
    height: 420px;
    margin-top: 50px;
    margin-left:40px;
    margin-bottom: 100px;
    box-sizing: border-box;
    /* border-top:0.5px solid rgb(62, 69, 69); */
    color:white;
    display:grid;
    grid-template-rows: 350px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap:30px;
    grid-column-gap:30px;

}

.submitOne{
    background-color:white;
    border:1px solid black;
    border-radius: 3px;
}


.submitTwo{
    
    background-color:white;
    border:1px solid black;
    border-radius: 3px;
}

.submitThree{
    
    background-color:white;
    border:1px solid black;
    border-radius: 3px;
}